<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add id="Vendor_CustomOrderProcessing::main"
             title="Custom Order Processing"
             module="Vendor_CustomOrderProcessing"
             sortOrder="10"
             resource="Vendor_CustomOrderProcessing::main"/>

        <add id="Vendor_CustomOrderProcessing::status_log"
             title="Order Status Logs"
             module="Vendor_CustomOrderProcessing"
             sortOrder="20"
             parent="Vendor_CustomOrderProcessing::main"
             action="customorderprocessing/statuslog/index"
             resource="Vendor_CustomOrderProcessing::status_log"/>
    </menu>
</config>
